#container
{
    position: relative;
    background-color: aliceblue;
    width: 500px;
    height: 500px;
    left: 200px;
    top: -600px;
}

#object
{
    position: relative;
    background-color: rgb(255, 0, 0);
    width: 25px;
    height: 25px;
    left: 237.5px;
    top: -50px;
}
#fluid
{
    position:relative;
    background-color: blue;
    width: 500px;
    height: 250px;
    top: 250px;
}
#blank
{
    width: 500px;
    height: 250px;
    position: relative;
    top: 250px;
    z-index: 1;
    background-color: white;
}
